

.dashboard{
    background: linear-gradient(var(--clr-gray-200), rgba(127, 86, 217, 0.1));
    
}

#dashboard{
    background-color: var(--clr-white);
}

.dashboard__header-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.dashboard__container h5{
    color: var(--clr-primary-700);
    /* font-size: 1rem; */
}

#main{
    padding-bottom: 3rem;
}
.main__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.5rem 0 1.5rem;
    padding-bottom: 1.5rem;
}

.main__header-left h4{
    color: var(--clr-gray-800);
}
.main__header-left p{
    color: var(--clr-gray-500);
}

.apply__loan a{
    background-color: var(--clr-primary-600);
    padding: 10px 16px;
    border: 1px solid #CC0000;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
}


.loan__stat{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.loan__stat > article{
    background: var(--clr-white);
    padding: 1.5rem;
    border-radius: 8px;
    margin: 1rem 0;
}

.stat__logo img{
    width: 2rem;
}

article h6{
    color: var(--clr-gray-500);
    margin: 1rem 0;
}

article h5{
    color: var(--clr-gray-800);
}


/*=============== Chart Js =============*/

.chart-overview{
    display: grid;
    grid-template-columns: 1.8fr 1fr;
    gap: 1.6rem;
    margin: 1.5rem 0;
}

.chartjs{
    background-color: var(--clr-white);
    border-radius: 8px;
    padding: 1.5rem 1rem;
    width: 42rem;
}

.overview{
    background-color: var(--clr-white);
    border-radius: 8px;
    padding: 1.5rem 1rem;
}

.overview__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overview__header h6{
    color: var(--clr-gray-900);
}

.overview__header span{
    color: var(--clr-gray-400);
}

.overview__info{
    display: flex;
}

.overview__info .total{
    border-left-color: var(--clr-red-logo);
}

.overview__info .total p, .verified p{
    color: var(--clr-gray-500);
}

.overview__info h5{
    color: var(--clr-gray-900);
}

/*============== Apex Chart ========*/

#chartApex {
    max-width: 760px;
    margin: 35px auto;
    opacity: 0.9;
  }
  
  #timeline-chart .apexcharts-toolbar {
    opacity: 1;
    border: 0;
}




/*=========== Loan Table ===============*/

.loan__table{
    background-color: var(--clr-white);
    border-radius: 8px;
    padding: 2rem 1rem;
    margin: 1rem 0 2.5rem;
}

.table__header{
    margin-bottom: 1rem;
}

.table__header h5{
    color: var(--clr-gray-900);
}

.table__header, .search-filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-filter{
    gap: 1.5rem;
}

.search__icon, .filter__icon{
    color: var(--clr-gray-500);
    cursor: pointer;
}

.search, .filter{
    box-shadow: 0 0 1px var(--clr-gray-400);
    padding: 5px 8px;
    border-radius: 4px;
    cursor: pointer;
}

.filter select{
    cursor: pointer;
}

table{
    width: 100%;
    text-align: start;
}

table th{
    color: var(--clr-gray-500);
    text-align: start;

}

table tbody td{
    color: var(--clr-gray-400);
}

table tbody tr{
    height: 2.8rem;
}

tbody td> span{
    cursor: pointer;
}

table tbody tr:nth-child(even){
    background-color: var(--clr-gray-50);
}


.table__controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 0;
}


.prev__loan-p, .next__loan-p{
    color: var(--clr-gray-500);
    padding: 8px 14px;
    gap: 8px;
    border: 1px solid #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;
    transition: var(--transition);
    color: var(--clr-gray-800);
    font-family: inherit;
}

.prev__loan-p:hover, .next__loan-p:hover{
    background-color: var(--clr-gray-200);
}

.pagination{
    display: flex;
    gap: 1.5rem;
}

.pagination span{
    color: var(--clr-gray-800);
}

