



.Loan-app{
    background: linear-gradient(var(--clr-gray-200), rgba(127, 86, 217, 0.1));
    
}

#Loan-app{
    background-color: var(--clr-white);
}

.lhead{
    color: var(--clr-gray-800);
    margin-top: 2rem;
}

.loan-app__header-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.main__container{
    margin: 2rem auto;
    padding: 2rem 3rem;
    background-color: var(--clr-white);
}

.loan-app__container h5{
    color: var(--clr-primary-700);
    /* font-size: 1rem; */
}

.steps__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding: 1rem 0;
    font-size: 14px;
    line-height: 20px;
    color: #667085;
    align-items: center;
    border-bottom: 1px solid #EAECF0;
}

label{
    display: block;
    color: var(--clr-gray-700);
    font-size: 14px;
}

form  article > div{
    margin: 1rem 0;
}

form input, select{
padding: 10px 14px;
gap: 8px;
width: 547px;
height: 44px;
background: #FFFFFF;
border: 1px solid #D0D5DD;
box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
border-radius: 8px;
font-family: inherit;

}



.step-2, .step-3, .step-4{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.step2__main, .step3__main, .step4__main{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.step2__main span i, .step3__main span i, .step4__main span i { 
    color: var(--clr-primary-600);
    font-size: 2rem;
}

.step-2 h5, .step-3 h5, .step-4 h5{
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: var(--clr-gray-700);
}

.step-2 p, .step-3 p, .step-4 p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--clr-gray-500);
}


input[type="file"] { 
    z-index: -1;
    position: absolute;
    opacity: 0;
}

.step-2 label, .step-3 .open-modal, .step-4 .open-modal, .step-2 label, .step-3 label{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    gap: 8px;
    width: 302px;
    height: 44px;
    background: #CC0000;
    border: 1px solid #CC0000;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    color: var(--clr-white);
    cursor: pointer;
    font-family: inherit;
}

.step-2 label i,.step-3 .open-modal i, .step-4 .open-modal i{
    color: var(--clr-white);
    font-size: 0.8rem;
}

#file-upload-filename{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.step{
    display: none;
}

.step.show{
    display: block;
}

.acc__btns{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.next{
    padding: 0.625rem 1.5rem;
    gap: 8px;
    background: #CC0000;
    color: var(--clr-white);
    border: 1px solid transparent; 
    /* box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);  */
    border-radius: 8px;
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    transition: var(--transition);

}

.next:hover{
    background-color: var(--clr-warning-700);
    /* color: var(--clr-white); */
}

.cancel, .prev, .pop-cancel{
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--clr-gray-200);
    color: var(--clr-black);
    font-family: inherit;
    font-weight: 700;
    border: 1px solid transparent; 
    transition: var(--transition);

}

.cancel:hover, .prev:hover, .pop-cancel:hover{
    border: 1px solid var(--clr-gray-700); 
    background-color: transparent;
}

/*========= Modal Pop-up ===========*/
/* .modal-top.filter{
    filter: blur(1px) brightness(0.2);
    filter: opacity(0.1);
} */

.pop-up-btn label{
    width: auto;
}

.modal{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 1rem;
    gap: 32px;
    position: fixed;
    z-index: 2;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    background-color: var(--clr-white);
    border-radius: 8px;
    /* box-shadow: 0 0 5px var(--clr-gray-400); */
    width: 480px;
    /* height: 298px; */
    box-shadow: 0 0 10px var(--clr-gray-400);
    opacity: 1;
    transition: var(--transition);
    /* box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03); */
    
}

.modal.hidden{
    visibility: hidden;
    opacity: 0;

}

.pop-up-header span i{
    transition: var(--transition);
    cursor: pointer;
}

.pop-up-header span i:hover{
    color: var(--clr-primary-600);
}

#drag-drop{
    box-shadow: 0 0 2px var(--clr-gray-400);
    text-align: center;
    padding: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: var(--transition);
}



#drag-drop.turn-active{
    box-shadow: 0 0 5px var(--clr-success-700);
    /* border: 1px solid red; */

}

#drag-drop span{
    margin-bottom: 1.25rem;
}

#drag-drop span i{
    font-size: 1.5rem;
}

.remove-files{
    color: var(--clr-primary-600);
    cursor: pointer;
}

.pop-up-btn{
    display: flex;
    justify-content: space-between;
}

.pop-up-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
/* input:focus + label {
    outline: 2px solid red;
} */

/* .step-2{
    display: none;
} */

/*=========== Collateral Modal =========*/

.col-select select{
    width: 100%;
}


/*=========== Facility Modal =========*/
.modal-facility{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 1rem;
    gap: 32px;
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    background-color: var(--clr-white);
    border-radius: 8px;
    /* box-shadow: 0 0 5px var(--clr-gray-400); */
    width: 780px;
    /* height: 298px; */
    box-shadow: 0 0 10px var(--clr-gray-400);
    opacity: 1;
    transition: var(--transition);


}

.product-info, .amount-currency, .tenor{
    display: flex;
    justify-content: space-between;
} 

/* .product-type{
    display: flex;
    justify-content: space-between;
} */

.product-left, .amount-left, .tenor-left {
    display: flex;
    justify-content: space-between;
}

.product-left select, .amount-left select, .tenor-left select{
    width: 100%;
}

.amount-left input, .tenor-left input{
    width: 100%;
}

.step-2{
    height: 110vh;
}



